/*全局样式*/
body,div,h1,h2,h3,ul,li,p{padding: 0;margin: 0;}
body{font:12px/1.5 "微软雅黑";color: #a8a8a8;}
a{text-decoration: none;color: #a8a8a8;}
img{border: none;vertical-align: bottom;}
li{list-style: none;}
.l{float: left;}
.r{
  float: right;
}
.w{
  width: 1003px;
  margin: 0 auto;
}
.hd span{
  line-height: 40px;
  display: block;
}
.hd em{
  display: block;
  font-size: 18px;
  color: #333;
  padding: 10px 0;
  position: relative;
  font-style: normal;
  font-weight: bold;
}
.hd em:after {
  content: "";
  display: block;
  width: 28px;
  height: 6px;
  background-color: #0076ca;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -3px;
}
