.topArea{
  background: #333;
  color: #fff;
  height: 40px;
  line-height: 40px;
}
.topArea .qq{
  color: #fff;
  background: url("../img/qq_icon.png") no-repeat left center;
  padding-left: 20px;
}
.hello{
  background: url("../img/home_icon.png") no-repeat left center;
}
.hello span{
  padding-left: 20px;
}

